
  # IKKADA CODE COMES FROM ANSIBLE-ROBODHOP MONGODB.YAML  AFTER TASKS

  #ansible-playbook -i inventory all-start-code.yaml -e "component=redis" for run 
  
  - name: copy mongodb repo # our understand name
    ansible.builtin.copy:  
      src: mongo.repo # IKKADA NUMCHI 
      dest: /etc/yum.repos.d/mongo.repo
      
  - name: install mongodb server
    ansible.builtin.package: # URL iS: https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/package_module.html
      name: mongodb-org 
      state: present

      
  - name: allow remote connections
    ansible.builtin.replace: 
       path: /etc/mongod.conf 
       regexp: '127.0.0.1' # dheni replace cheyali anedhi
       replace: '0.0.0.0'  # which value tho replace 


  - name: Start service and enabled mongod,if not started
    ansible.builtin.service: # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/service_module.html
      name: mongod
      state: started
      enabled: yes
  
# so next mongodb pub ip tho vere tab lo login ayyyi ...$ netstat -lntp iste manaki results vasti....done mongodb
# tcp        0      0 0.0.0.0:27017           0.0.0.0:*               LISTEN      -  -- need to open this port for successful connect

